.contact-preview {
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: #86cae6;
        transition: 0.7s;
        opacity: 0.5;
    }
    img {
        width: 70%;
        padding-bottom: 10px;
    }
}
