.contact-details{
    text-align: center;
    .goback{
        cursor: pointer;
    }
    .controls{
        img{
            width: 35px;
            margin: 10px;
            cursor: pointer;
        }
    }

}
 