.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    & > * {
        margin:5px;
    }
    input {
        padding: 10px;
        outline: none;
        color: black;
        background-color: #693f8338;
        text-align: center;
        border:1px solid lightgray;
        border-radius: 16px;
    }
}